<script>
  window.chartDataSource = <%= raw @dash_chart.to_json %>;
</script>

<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<div id="chartContainer" style="max-width:800px;height: 400px;"></div>
